<h1>Welcome To Crafty!</h1>
<% if @craft.any? %>
  <% @craft.each do |craft| %>
  <div class="craft_holder">
    <% if craft.images.any? %>
      <%= image_tag craft.images[0].photo.url %>
    <% else %>
      <%= image_tag "drfault.jpg" , :class => "craft_img"%>
    <% end %>
    <span class='craft_title'><%= link_to craft.title, craft_path(craft) %></span>
  </div>
  <% end %>
<% else %>
<% end %>
