<h1>Welcome To Crafty!</h1>
<% if @craft.any? %>
  <% @craft.each do |craft| %>
  <div class="craft_holder">
    <% if craft.images.any? %>
      <%= link_to image_tag(craft.images.photo.url, class: 'media-object'), image.photo.url, target: '_blank' %>
    <% else %>
      <%= image_tag "drfault.jpg" , :class => "craft_img"%>
    <% end %>
    <span class='craft_title'><%= link_to craft.title, craft_path(craft) %></span>
  </div>
  <% end %>
<% else %>
<% end %>
